@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$font: 'Lato', sans-serif;

$primary: #79C7C5;
$secondary: #A1E2D9;
$white: #F9FBFF;
$dark: #777777;

.chat_box {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    color: $secondary;
    font-size: 0.7em;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
  }

@keyframes bounce {
  30% { transform: translateY(-2px); }
  60% { transform: translateY(0px); }
  80% { transform: translateY(2px); }
  100% { transform: translateY(0px); opacity: 0.5;  }
}