/* source : https://www.tutorialspoint.com/online_css_editor.php */
   body {
      margin: 0 auto;
      max-width: 800px;
      padding: 0 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .chat_box {
      font-size: 18px;
      font-weight:500;
      border: 2px solid #dedede;
      background-color: #55e4a8;
      color:rgb(0, 0, 0);
      border-radius: 12px;
      padding: 10px;
      margin: 10px 0;
   }
   .darker {
      border-color: #ccc;
      background-color: rgb(111, 25, 182);
      color:white;
   }
   .chat_box::after {
      content: "";
      clear: both;
      display: table;
   }
   .profilePic{
      width: 100%;
   }
   .message img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
   }
   .message img.right {
      float: right;
      margin-left: 20px;
      margin-right:0;
   }
   .timeStampRight {
      float: right;
      color: rgb(0, 0, 0);
      font-weight: bold;
   }
   .timeStampLeft {
      float: left;
      color: rgb(255, 255, 255);
      font-weight: bold;
   }

   #deco {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

   .header{
      width:100%;
      color: lightgreen;
      height: 20%;
   }